<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Real Eclipse</title>

  <meta name="keywords" content="real eclipse,real,eclipse,game,games,gameplay,first,person,shooter,free,open,source,fun,battle,field,battlefield,quake,callofduty,call,of,duty,red,eclipse,cube,cube 2,engine"/>
  {% if page.desc %}
  <meta name="description" content="{{ page.desc }}"/>
  {% endif %}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/re/favicon.ico">

  <!-- CSS stylesheets -->
  <!--<link rel="stylesheet" class="theme-switchable" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css" title="bootstrap">-->
  <link rel="stylesheet" class="theme-switchable" href="{{ site.baseurl }}/assets/bootstrap/cosmo.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/re/global.css">
</head>
<body>
  {% include navbar.html %}

  <div class="container">
    {{ content }}

    <footer class="footer">
      <p>
        &copy; 2013-{{ site.time | date: "%Y" }} the <a href="{{ site.baseurl }}/team">Real Eclipse Task Force</a>. Last generated <span class="timeago" title="{{ site.time | date_to_xmlschema }}">on {{ site.time | date: "%A, %B %d, %Y" }} at {{ site.time | date: site.format_time }}</span>, this site uses <a href="https://validator.w3.org/check?uri=referer">HTML 5</a> and <a href="https://jigsaw.w3.org/css-validator/check/referer?profile=css3">CSS 3</a>.
      </p>
    </footer>
  </div> <!-- /container -->

<!-- JavaScript scripts -->
<script src="{{ site.baseurl }}/assets/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/jquery/jquery.timeago.js"></script>
<script src="{{ site.baseurl }}/assets/re/global.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11274478-11"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-11274478-11');
</script>

</body>
</html>